openapi: 3.0.3
info:
  title: Revert Unified Connection CRM Properties API
  description: Revert is an open-source unified API for building product integrations. This specification describes the hosted REST surface at api.revert.dev, focused on the unified CRM category (contacts, leads, deals, companies, notes, tasks, events, users), the passthrough proxy, connection management, integration metadata, and webhooks. All CRM requests are authenticated with an `x-revert-api-token` (your Revert API key) and target a specific customer connection via `x-revert-t-id` (the tenant id captured when the customer linked their third-party tool through Revert's managed OAuth flow). Revert is AGPL-3.0 licensed and can be self-hosted.
  termsOfService: https://revert.dev
  contact:
    name: Revert
    url: https://revert.dev
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: '1.0'
servers:
- url: https://api.revert.dev
  description: Revert hosted API
security:
- revertApiToken: []
tags:
- name: CRM Properties
paths:
  /crm/properties/{object}:
    get:
      tags:
      - CRM Properties
      operationId: getProperties
      summary: List available properties for a CRM object.
      parameters:
      - name: object
        in: path
        required: true
        description: The CRM object type (e.g. contact, deal, company).
        schema:
          type: string
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Available object properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedResponse'
components:
  schemas:
    UnifiedResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: object
  parameters:
    TenantId:
      name: x-revert-t-id
      in: header
      required: true
      description: The unique customer/tenant id used when the customer linked their account.
      schema:
        type: string
  securitySchemes:
    revertApiToken:
      type: apiKey
      in: header
      name: x-revert-api-token
      description: Your Revert API key (private token used from your backend).
