openapi: 3.0.3
info:
  title: Revert Unified Connection CRM Tasks API
  description: Revert is an open-source unified API for building product integrations. This specification describes the hosted REST surface at api.revert.dev, focused on the unified CRM category (contacts, leads, deals, companies, notes, tasks, events, users), the passthrough proxy, connection management, integration metadata, and webhooks. All CRM requests are authenticated with an `x-revert-api-token` (your Revert API key) and target a specific customer connection via `x-revert-t-id` (the tenant id captured when the customer linked their third-party tool through Revert's managed OAuth flow). Revert is AGPL-3.0 licensed and can be self-hosted.
  termsOfService: https://revert.dev
  contact:
    name: Revert
    url: https://revert.dev
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: '1.0'
servers:
- url: https://api.revert.dev
  description: Revert hosted API
security:
- revertApiToken: []
tags:
- name: CRM Tasks
paths:
  /crm/tasks:
    get:
      tags:
      - CRM Tasks
      operationId: getTasks
      summary: List tasks from the connected CRM.
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: A page of tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedListResponse'
    post:
      tags:
      - CRM Tasks
      operationId: createTask
      summary: Create a task in the connected CRM.
      parameters:
      - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Task created.
  /crm/tasks/{id}:
    get:
      tags:
      - CRM Tasks
      operationId: getTask
      summary: Get a single task by id.
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: The task.
    patch:
      tags:
      - CRM Tasks
      operationId: updateTask
      summary: Update a task by id.
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Task updated.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unified record id.
      schema:
        type: string
    Cursor:
      name: cursor
      in: query
      required: false
      description: Pagination cursor returned by a previous list response.
      schema:
        type: string
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of records to return per page.
      schema:
        type: integer
    TenantId:
      name: x-revert-t-id
      in: header
      required: true
      description: The unique customer/tenant id used when the customer linked their account.
      schema:
        type: string
  schemas:
    Task:
      type: object
      properties:
        id:
          type: string
        subject:
          type: string
        body:
          type: string
        status:
          type: string
        dueDate:
          type: string
          format: date-time
        additional:
          type: object
    UnifiedListResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        next:
          type: string
          nullable: true
          description: Cursor for the next page, or null when there are no more records.
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            type: object
  securitySchemes:
    revertApiToken:
      type: apiKey
      in: header
      name: x-revert-api-token
      description: Your Revert API key (private token used from your backend).
