openapi: 3.0.3
info:
  title: Revert Unified Connection API
  description: Revert is an open-source unified API for building product integrations. This specification describes the hosted REST surface at api.revert.dev, focused on the unified CRM category (contacts, leads, deals, companies, notes, tasks, events, users), the passthrough proxy, connection management, integration metadata, and webhooks. All CRM requests are authenticated with an `x-revert-api-token` (your Revert API key) and target a specific customer connection via `x-revert-t-id` (the tenant id captured when the customer linked their third-party tool through Revert's managed OAuth flow). Revert is AGPL-3.0 licensed and can be self-hosted.
  termsOfService: https://revert.dev
  contact:
    name: Revert
    url: https://revert.dev
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: '1.0'
servers:
- url: https://api.revert.dev
  description: Revert hosted API
security:
- revertApiToken: []
tags:
- name: Connection
paths:
  /crm/ping:
    get:
      tags:
      - Connection
      operationId: crmPing
      summary: Ping the CRM API to verify credentials and connection.
      parameters:
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Connection healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedResponse'
  /connections:
    get:
      tags:
      - Connection
      operationId: getConnections
      summary: List all connections for the account.
      responses:
        '200':
          description: A list of connections.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Connection'
  /connection:
    get:
      tags:
      - Connection
      operationId: getConnection
      summary: Get the connection for a given tenant.
      parameters:
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: The connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
    delete:
      tags:
      - Connection
      operationId: deleteConnection
      summary: Revoke and delete the connection for a given tenant.
      parameters:
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Connection deleted.
components:
  schemas:
    Connection:
      type: object
      properties:
        tenantId:
          type: string
        tpId:
          type: string
          description: Third-party provider id (e.g. hubspot
          sfdc).: null
        status:
          type: string
        createdAt:
          type: string
          format: date-time
    UnifiedResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: object
  parameters:
    TenantId:
      name: x-revert-t-id
      in: header
      required: true
      description: The unique customer/tenant id used when the customer linked their account.
      schema:
        type: string
  securitySchemes:
    revertApiToken:
      type: apiKey
      in: header
      name: x-revert-api-token
      description: Your Revert API key (private token used from your backend).
