openapi: 3.0.3
info:
  title: Revert Unified Connection Metadata API
  description: Revert is an open-source unified API for building product integrations. This specification describes the hosted REST surface at api.revert.dev, focused on the unified CRM category (contacts, leads, deals, companies, notes, tasks, events, users), the passthrough proxy, connection management, integration metadata, and webhooks. All CRM requests are authenticated with an `x-revert-api-token` (your Revert API key) and target a specific customer connection via `x-revert-t-id` (the tenant id captured when the customer linked their third-party tool through Revert's managed OAuth flow). Revert is AGPL-3.0 licensed and can be self-hosted.
  termsOfService: https://revert.dev
  contact:
    name: Revert
    url: https://revert.dev
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: '1.0'
servers:
- url: https://api.revert.dev
  description: Revert hosted API
security:
- revertApiToken: []
tags:
- name: Metadata
paths:
  /metadata/crms:
    get:
      tags:
      - Metadata
      operationId: getCrmMetadata
      summary: Get CRM integration metadata for the account.
      description: Returns the supported apps, their status, and configuration used to render Revert's connection UI.
      responses:
        '200':
          description: Integration metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnifiedResponse'
components:
  schemas:
    UnifiedResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        result:
          type: object
  securitySchemes:
    revertApiToken:
      type: apiKey
      in: header
      name: x-revert-api-token
      description: Your Revert API key (private token used from your backend).
